:root {
  --text-main: #757575;
  --text-header: #212121;
  --text-accent: #2196f3;
  --text-white: #ffffff;
  --text-address: rgba(255, 255, 255, 0.6);
  --primary: #ffffff;
  --second: #f5f4fa;
  --accent: #2196f3;
  --border: #eeeeee;
  --line: #ececec;
  --header-footer: #2f303a;
  --social: rgba(255, 255, 255, 0.1);
  --icon: #afb1b8;
  --footer-icon: rgba(255, 255, 255, 0.1);
  --border-close: rgba(0, 0, 0, 0.1);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay: rgba(0, 0, 0, 0.2);
  --border-close: rgba(0, 0, 0, 0.1);
  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --activity: rgba(47, 48, 58, 0.8);
  --portfolio-footer: rgba(33, 150, 243, 0.9);
}
/* контентные изображения */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* списки */
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.features-list,
.contacts,
.nav-list,
.social-list,
.social-network,
.team-list,
.activity-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  /* flex-wrap: wrap; */
  align-items: normal;
  justify-content: normal;
  display: flex;
}

/* ссылки */
/* убрать link */
/* .link {
  text-decoration: none;
  margin: 0px;
} */
.nav-list__link,
.contacts__link {
  text-decoration: none;
  margin: 0px;
}

/* скрытые объекты */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* секции*/
.section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}

/* основной контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--footer {
  display: flex;
  justify-content: normal;
  -webkit-box-align: baseline;
  align-items: baseline;
  flex-wrap: nowrap;
}

/* index и portfolio */
.studio-page,
.portfolio-page {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--text-main);
  letter-spacing: 0.03em;
}

/* шапка и подвал */
.footer {
  background-color: var(--header-footer);
}

/* паддинги секций */
.footer,
.features,
.team,
.clients,
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}

.portfolio {
  border-top: 1px solid var(--line);
}

.background {
  max-width: 1600px;
  margin: 0px auto;
  padding: 200px 0px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/Header.jpg');
}

.container--linetop {
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
/* Правый марджин между логотипом и ссылками на страницы в основном nav */

.nav {
  align-items: center;
  display: flex;
}
.nav .logo-nav {
  margin-right: 93px;
}

/* Правые марджины внутри списков из nav и списка контактов */
.nav-list > .nav-list__item:not(:last-child),
.contacts > .contacts__item:not(:last-child) {
  margin-right: 50px;
}

/* Логотип в хедере*/
.logo {
  font-family: Raleway, sans-serif;
  color: var(--text-header);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin: 0px;
}
/* Цвет первой части логотипа */
.logo--part-one {
  color: var(--text-accent);
}
/* Цвет второй части логотипа для футтера */
.logo--part-two {
  color: var(--text-white);
}

/* Параметры ссылок навигации по сайту */
.nav-list .nav-list__link {
  color: var(--text-header);
}

/* Параметры ссылок для обратной связи */
.contacts .contacts__link {
  color: var(--text-main);
  display: flex;
}

/* Иконки в хедере */
.contact-mail-icon {
  margin-right: 10px;
  width: 20px;
  height: 16px;
}
.contact-tell-icon {
  margin-right: 10px;
  width: 16px;
  height: 20px;
}

.contacts .contacts__link {
  align-items: center;
}

/* параметры для двух списков верхней линии */
.nav-list,
.contacts {
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
}

/*  hover и focus */
.nav-list__link.current,
.nav-list .nav-list__link:hover,
.nav-list .nav-list__link:focus,
.contacts .contacts__link:hover,
.contacts .contacts__link:focus {
  color: var(--text-accent);
  --color3: var(--text-accent);
}

/* Контейнер для заголовка и кноки секции Шапка */
.primary__box {
  display: inline-block;
  width: 696px;
}

.primary {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}
/* h1 на странице Studio */
.primary .primary__title {
  margin-bottom: 30px;
  margin-top: 0px;
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}

/* кнопка в секции Шапка*/
.primary .primary__button {
  padding: 10px;
  min-width: 200px;
  color: var(--text-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  cursor: pointer;
}

/* Особенности */
.features {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}
.features-list {
  justify-content: space-between;
}

/* Карточка Особенности */
.features-list__card {
  /* width: 270px; */
  width: calc((100% - 30px * 3) / 4);
  text-align: start;
  line-height: 1.71;
}
.features-list__title {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
  color: var(--text-header);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main);
  margin: 0px;
}

.features-list__image {
  background-color: var(--second);
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.features-list__icon {
  width: 70px;
  height: 70px;
}

/* Чем мы занимаемся */
.activity {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}
.activity {
  padding-bottom: 94px;
}
.activity__title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-header);
}

/* Карточка - наша деятельность */
.activity-list__card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  display: flex;
  width: calc((100% - 30px * 2) / 3);
}

.activity-list__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: var(--second);
}
.team__title {
  margin-bottom: 50px;
  color: var(--text-header);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.team-card-image {
  justify-content: center;
}

/* Карточка Наша команда */
.team-list__card {
  flex-direction: column;
  align-items: center;
  width: calc((100% - 30px * 3) / 4);
  display: flex;
  background-color: var(--primary);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__card:not(:nth-child(4n)) {
  margin-right: 30px;
}

/*Раздел с текстом под фото в карточке Наша команда  */
.team-card__title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card__title > .team-card__name {
  margin-bottom: 10px;

  color: var(--text-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/*Текст-доложность в карточке Наша команда */
.team-card__title > .team-card__position {
  color: var(--text-main);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

/* Ссылки на соц.сети в карточках Наша команда */
.social-network__item:not(:nth-child(4)) {
  margin-right: 10px;
}
.social-network__icon {
  width: 20px;
  height: 20px;
}
.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.team .social-network__link {
  background-color: var(--footer-icon);
  --color4: var(--icon);
}
.team .social-network__link:hover {
  background-color: var(--accent);
  --color4: var(--text-white);
}

/* Постоянные клиенты */
.clients__item:not(:nth-child(6n)) {
  margin-right: 30px;
}
.clients__item {
  width: calc((100% - 30px * 5) / 6);
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.clients-list {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* .flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
} */
.client-link {
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid var(--icon);
  border-radius: 4px;
  display: flex;
}
.client-link {
  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
}

.client-link {
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 950ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all, transform;
  transition-duration: 150ms, 950ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s, 0s;
}

/* Ховер  */
.client-link:hover {
  --color2: var(--accent);
  border: 1px solid var(--accent);
}
.clients .clients__title {
  margin-bottom: 50px;
  margin-top: 0px;
  color: var(--text-header);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .flex {
  align-items: baseline;
}
.footer-contacts {
  margin-right: 70px;
  min-width: 231px;
  text-align: start;
}

/* Адрес  */
.address__mail {
  margin-top: 0px;
  margin-bottom: 9px;

  color: var(--text-white);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.address__email,
.address__tel {
  display: block;

  color: var(--text-address);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}
.address__email {
  margin-bottom: 9px;
}

/* Логотип в футтере */
.footer .logo-footer {
  display: block;
  margin-bottom: 20px;
}
.address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Текст над ссылками на соц.сети в футере */
.footer-social__label {
  margin-bottom: 20px;
  text-align: start;
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

/* Ссыли на соц.сети в футере */
.footer .social-link {
  background-color: var(--footer-icon);
  --color4: var(--text-white);
  align-items: center;
}
.footer .social-link:hover {
  background-color: var(--accent);
}

/* Марджины и паддинги для Портфолио*/
.portfolio-filter {
  margin-bottom: 34px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  list-style: none;
}

/* Кнопки-фильтры в портфолио  */
.portfolio-filter .button {
  align-items: flex-start;
  margin-right: 8px;
  padding: 6px 22px;

  color: var(--text-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  background-color: var(--second);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Ховер и фокус для кнопок фильтров портфолио */
.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: var(--text-white);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Правый марджин для сетки многострочного контейнера, исключаем каждый третий */
.projects__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Нижний марджин для сетки многострочного контейнера, исключаем три нижних */
.projects__card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

/* ширина в карточке портфолио */
.projects__card {
  width: calc((100% - 2 * 30px) / 3);
  /* position: relative;
  display: inline-flex;
  justify-content: center;
  width: calc((100% - 30px * 2) / 3); */
}
.projects__image {
  position: relative;
  justify-content: center;
  height: 294px;
  overflow: hidden;
}
/* Заголовки под карточками в портфолио */
.projects__title > .projects__name {
  margin-bottom: 4px;

  color: var(--text-header);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Бордер с трех сторон контейнера */
.projects__title {
  padding: 20px 24px;
  text-align: start;
}

/* Текст под карточками портфолио */
.projects__title > .projects__label {
  color: var(--text-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Тень при ховере на карточках-ссылках портфолио */
.projects__link {
  display: block;
  border: 1px solid var(--border);
  text-decoration: none;
}

.projects__link:hover,
.projects__link:focus {
  border: 1px solid var(--border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.projects__link:hover .projects__overley,
.projects__link:focus .projects__overley {
  transform: translateY(0%);
}
/* анимации, и модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--overlay);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  visibility: visible; */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: var(--primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--time-function) var(--time);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-close);
}

.icon-close {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 5px;
  top: 6px;
}
.nav-list__link.current::after {
  position: relative;
  left: 0;
  top: 31px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}
.activity-list__label {
  position: absolute;
  bottom: 0;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 27px 0px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  background-color: var(--activity);
}
.projects__overley {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-white);
  background-color: var(--portfolio-footer);
  transform: translateY(100%);
  transition: transform var(--time) var(--time-function);
}

/* анимация */

.social-network__icon {
  /*  Задаём значения перехода  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* При ховере меняем значения анимируемых свойств */
.social-network__icon:hover {
  transform: rotate(360deg);
}

/* ДЗ6 */
/* оформляет бекдроп */

.backdrop .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--text-white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.backdrop .description {
  margin-bottom: 30px;
  margin-top: 0;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: var(--text-header);
}
/* font-style: normal;
letter-spacing: 0.03em;
 */
.backdrop .form-field {
  display: block;
  position: relative;
}

.form-field .form-label {
  color: var(--secondary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}
.form-backdrop {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  position: absolute;
  left: 50%;

  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* text-align: center; */
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-15px);
  color: var(--accent);
}

.backdrop .form-field:nth-child(-n + 4) {
  margin-bottom: 28px;
}

.backdrop .form-input {
  width: 100%;
  height: 38px;
  display: block;
  background-color: #fff;

  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;

  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.backdrop .form-input:focus {
  border: 1px solid var(--accent);
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  display: inline-block;
}

.form-field:focus-within > .icon {
  fill: var(--accent);
}

.comment {
  margin-bottom: 20px;
  height: 120px;
}

.backdrop textarea {
  padding: 10px 20px;
  padding-left: 16px;
  font: inherit;

  position: relative;
  width: 100%;
  height: 120px;

  resize: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.comment .form-label {
  position: absolute;
  top: 20px;
  left: 16px;

  transition: transform 250ms linear;
}

.backdrop textarea:focus {
  border: 1px solid var(--accent);
}

.form-comment:focus-within > .form-label,
.form-comment:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px) translateX(-15px);
  color: var(--accent);
}

.field-polisy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.field-polisy .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-polisy .icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: var(--accent);
  background-image: url(../images/Оригинальные_svg/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.checkbox-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-header);
}
.checkbox-link {
  color: var(--accent);
  text-decoration: underline;
}

.backdrop .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.backdrop .button-submit {
  display: flex;
  justify-content: center;
}

.backdrop .button {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px;
  min-width: 200px;
  color: var(--text-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  cursor: pointer;
}

/* Подписка */

.footer .box-form {
  width: 1570px;
}
.form-flex {
  display: flex;
  list-style: none;
}
.form-input {
  margin-right: 13px;
}
.box-form .form {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style: none;
}
.box-form-form {
  margin-right: 12px;

  list-style: none;
}

.box-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  position: relative;
  padding-left: 53px;

  list-style: none;
}
.box-form .join-in {
  font-weight: 700;

  list-style: none;
}
.box-form .join-in {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}
.form input {
  margin-bottom: 0;
}
.form input {
  width: 358px;
}
.box-form .button {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  right: 0;

  list-style: none;
}
.box-form .button {
  position: relative;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  overflow: hidden;
  border: 0em;

  list-style: none;
}
.box-form .button {
  background-color: #2196f3;
  color: #fff;

  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;

  list-style: none;
}
.box-form .join-in {
  font-weight: 700;
}
.form input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 12px;
  margin-bottom: 20px;
  color: #757575;
}
.form input {
  width: 358px;
}
.form input {
  margin-bottom: 0;
}
.join-in {
  text-align: start;
  padding-left: 40px;
}
.icon-send {
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}
