.activity {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  padding-bottom: 94px;
  padding-bottom: 94px;
}

.activity__title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $text-header;
}
.activity-list__card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  display: flex;
  width: calc((100% - 30px * 2) / 3);
}

.activity-list__card:not(:nth-child(3n)) {
  margin-right: 30px;
}
