.primary__box {
  display: inline-block;
  width: 696px;
}

.primary {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
}
.primary {
  &__title {
    margin-bottom: 30px;
    margin-top: 0px;
    color: $text-white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
  }
}
